header {

  height: 100px;
  width: 100%;
}
.header {
  display: flex;
  background-color: $header_bg-color;
  min-width: 900px;
}
.logo-container img {
  margin-left: 150px;
  height: 70px;
  width: 70px;
  margin-top: 15px;
}

.header-list {
  padding-left: 170px;
}

.header-list li {
  display: inline;
  margin-left: 10px;
  text-transform: uppercase;
  line-height: 100px;
  font-size: 70%;
}
.header-top {
  height: 15px;
  width: 100%;
  background-color: $lightblue_color;
}

